<%- include('partials/header') %>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 ms-auto me-auto">
            <img src="/images/transaction.jpg" id="pay-img" alt="transaction-image">
        </div>
        <div class="col-md-5 ms-auto me-auto">
            <div class="card">
                <h1 class="mt-3"> Payment Details</h1>
                <div class="card-body">
                    <!-- Makes POST request to /login route -->
                    <div class="form-group">
                        <form action="/payments" method="POST">
                            <label for="username"> Username:-</label>
                            <input type="text" class="form-control mb-2" id="username" name="username" value="<%= username %>">
                            <label for="userid">UserId:-</label>
                            <input type="text" class="form-control mb-2" id="userid" name="id" value="<%= userid %>">
                            <label for="amount"> Amount:-</label>
                            <input type="text" class="form-control mb-2" id="amount" name="amount" value="<%= amount %>">
                            <label for="transactionid"> TransactionId:- </label>
                            <input type="text" class="form-control" id="transactionid" name="transactionid" value="">
                            <button type="submit" class="btn btn-success mt-2"> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>
